body {
    background-color: #fd0606;
    font-family: Arial, Helvetica, sans-serif;
}
#card {
    background-color: rgb(0, 0, 0);
    width: 600px;
    height: 900px;
    padding: 20px;
    margin: auto;
}
#img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}
#h1 {
    color: crimson;
}
#p {
    color: white;


}
#ul {
    color: white;
}